<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Template is working</title>
    </head>
    <body>
       <h1>Welcome to text analyzer. Enter text</h1>
       <form action = '/analyze' method = 'get'>
         <textarea name='text' style='height: 170px; width: 671px;'></textarea>
            <br>

         <input type='checkbox' name ='removepunc'> Remove Punctuatio<br>
         <input type='checkbox' name ='fullcaps'> UPPERCASE <br>
         <input type='checkbox' name ='newlineremoverbutton'> New Line Remover <br>
         <input type='checkbox' name ='Spaceremover'>Spaceremover <br>
         <input type='checkbox' name ='char_count'>Char count <br>
         <button type='submit'>Analyze Text </button>
       </form>
    </body>
    </html>